*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
  text-align: center;
}

.wrap {
  background: lightgrey;
  margin: 15px 15px;
  overflow: auto;
}


.boxes {
  width: 33vw;
  margin: 1vh auto;
}

.nav-bar {
  background: orange;
}

#box-1 {
  border: 1px solid red;
  background: lightblue;
}

#box-2 {
  border: 1px solid yellow;
  background: lightblue;
}

#box-3 {
  border: 1px solid red;
  background: lightblue;
}

#box-4 {
  border: 1px solid yellow;
  background: lightblue;
}

#box-5 {
  border: 1px solid red;
  background: lightblue;
}

#box-6 {
  border: 1px solid yellow;
  background: lightblue;
}

@media screen and (min-width:600px) {
  .boxes {
    float: left;
    display: block;
    width: 29vw;
    margin: 2vh 1vw;
  }
  .nav-bar {
    background: red;
  }
}

@media screen and (min-width:1200px) {
  .boxes {
    float: left;
    display: inline-block;
    width: 29vw;
  }
  .nav-bar {
    background: green;
  }
}

/*@media screen and (max-width:1400px) {
  #boxes {
    float: left;
    display: inline-block;
    width: 40vmin;
  }
  .nav-bar {
    background: blue;
  }
}*/
